.container{
  justify-content: space-around;
  margin-bottom: 60px;
}

.row{ 
  margin-top: 5%;
  margin-bottom: 60px;
}
.colum{
  margin-left: 100%;
  float: left;
  padding-right: 50%;
}
/* About.css */
.card-about-1 {
  width: 100%;
  margin-right: 5px; /* Add space to the right of the first card */
}

.card-about {

  width: 100%;
  margin-left: 150px; /* Add space to the left of the second card */
}

.card_3, .card_4 {
  flex: 1;
  background-color: #fff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
  margin: 10px; /* Add margin for spacing */
}

.card_3 {
  float: left;
}

.card_4 {
  float: right;
}

.row_last{
  display: flex;
  justify-content: space-between;
}

h1{
  color: #00a82d;
  font-size: 30PX;
  margin-bottom: 10px;
}
h2{
  color: #00a82d;
  font-size: 30PX;
  margin-bottom: 10px;
  text-align: center;
}

P{
  font-size: 20PX;
  line-height: 35px;
}