/* .footer {
    width: 100%;
    height: 200px;
    background-color: #121619;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
  }
  
  .socialMedia svg {
    color: white;
    margin: 20px;
    font-size: 70px;
    cursor: pointer;
  }
  
  .footer p {
    color: white;
  } */


  .body {
    background: rgb(10, 16, 84);
    background: linear-gradient(0deg, rgba(10, 16, 84, 1) 0%, rgba(15, 114, 187, 1) 56%, rgba(9, 189, 226, 1) 100%);
    background-color: rgb(37, 150, 190);
  }
  
  /* Card image styles */
  .card-image {
    width: 105%;
    margin-top: 15%;
  }
  
  /* Card text styles */
  .card-text {
    color: white;
    text-align: justify;
  }
  
  /* Card title styles */
  .card-title {
    color: white;
  }
  
  /* Main container styles */
  .container-main {
    margin-top: 5%;
  }
  
  /* Section container styles */
  .container-section {
    margin-top: 5%;
    padding: 5% 0;
  }